* {
    margin: 5px auto;
}

.nav {
    margin: 20px auto;
    width: 900px;
    display: flex;
    align-items: center;
    background-color: orange;
}

#form {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.create {
    background-color: lightskyblue;
    padding: 5px 20px;
}

.home {
    margin-left: 10px;
}