* {
    margin: 20px auto;
}

.nav {
    background-color: orange;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-users, .new-user {
    margin-right: 10px;
    color: blue;
}