* {
    margin: 20px auto;
}

.display-nav {
    width: 500px;
    display: flex;
    align-items: center;
    column-gap: 50px;
    background-color: orange;
}

.container {
    border: 2px solid black;
    width: 500px;
    padding: 10px;
}

.links {
    width: 500px;
}