* {
    margin: 0px auto;
    padding: 10px;
}

.title {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.counter {
    font-size: 25px;
}

.container {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    column-gap: 100px;
}

.click {
    background-color: blue;
    color: white;
}

.reset {
    background-color: red;
    color: white;
}