<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        {{% if session['guess'] < session['answer']: %}}
            <div class="box1">
                <p class="hint">Too Low</p>
            </div>
        {{% else: %}}
            <div class="box2">
                <p class="hint">Too High</p>
            </div>
        {{% endif %}}
        <form action="/guess" method="post" id="input">
            <input type="text" name="guess">
            <input type="submit" name="submit" id="submit">
        </form>
    </div>
</body>
</html>