<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        <form action="/guess" method="post" id="input">
            {{% if session['num'] > session['guess']: %}}
                <div class="box1">
                    <p class="hint">Too Low</p>
                </div>
            {{% elif session['guess'] > session['num']: %}}
                <div class="box2">
                    <p class="hint">Too High</p>
                </div>
            {{% else: %}}
                <div class="box3">
                    <p class="hint">{{session['num']}} was the number!</p>
                </div>
            {{% endif %}}
            <input type="text" name="guess">
            <button id="submit">Submit</button>
        </form>
    </div>
</body>
</html>