<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user.css') }}">
</head>
<body>
    <div class="display-nav">
        <h1>User {{id}}</h1>
        <a href="/">Home</a>
    </div>
    <div class="container">
        <p>Full Name: {{user.first_name}} {{user.last_name}} </p>
        <p>Email: {{user.email}}</p>
        <p>Created On: {{user.created_at}}</p>
        <p>Last Updated On: {{user.updated_at}}</p>
    </div>
    <div class="links">
        <a href="/users/{{user.id}}/update">Edit</a>
        <a href="/users/{{user.id}}/delete">Delete</a>
    </div>
</body>
</html>